/*Cumtom link Título de Posts*/
.custom-title a:hover{
    text-decoration: none;
}

/* Cumtom link Sidebar*/
.custom-link{
    padding: 0.3rem;
}

.custom-link a{
    padding: 0.5rem;
}

.custom-link > ul > li > a:hover{
    text-decoration: none;
    z-index: 1;
}
.custom-link > ul > li{
    position: relative;
    display: block;
    padding: .75rem .75rem;
    margin-bottom: -1px;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.custom-link ul{
    -webkit-padding-start: 0;

}
.custom-link ul li{
    list-style: none;

}

/*Custom link Footer*/
.custom-footer a:hover{
    text-decoration: none;
}